In [1]:
list=[1,2,3,4,5,6,7,8]
res=[]
i=0
while i<len(list):
    res=[list[i]]+res
    i=i+1
print(res)

[8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
list=["jan","feb","mar","apr","may","june","july","aug","sep","oct","nov","dec"]
list2=["mon","tue","wed","thur","fri","sat","sun"]
i=0
while i<len(list):
    
    if list[i] in ["jan","mar","may","july","aug","oct","dec"]:
        print(list[i])
        print(list2)
        j=1
        k=0
        while j<=31:
            if list2[k]<8:
                print(j,end=" ")
                k+=1
            else:
                if k==8:
                    k=0
            print()
            j=j+1
    i=i+1

jan
['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']

KeyboardInterrupt

In [25]:
def print_month(year, month):
	month_names = ["","January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

	print(f"\n{month_names[month]} {year}")
	print("Mo Tu We Th Fr Sa Su")

	weekday = (year * 365 + (year - 1) // 4 - (year - 1) // 100 + (year - 1) // 400 + month * 306 + 5) % 7
	days_in_month = 0

	if month in [4, 6, 9, 11]:
		days_in_month = 30
	elif month == 2:
		days_in_month = 29 if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) else 28
	else:
		days_in_month = 31

	for i in range(weekday + days_in_month):
		if i < weekday:
			print(" ", end="")
		else:
			print(f"{(i - weekday + 1):2d}", end=" " if (i + 1) % 7 else "\n")


def print_calendar(year):
	for month in range(1, 12):
		print_month(year, month)
  
if __name__ == "__main__":
	current_year = 2024
	print_calendar(current_year)

January 2024
Mo Tu We Th Fr Sa Su
     1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

February 2024
Mo Tu We Th Fr Sa Su
   1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29
March 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
April 2024
Mo Tu We Th Fr Sa Su
      1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

May 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
June 2024
Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30
July 2024
Mo Tu We Th Fr Sa Su
       1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
August 2024
Mo Tu We Th Fr Sa Su
     1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

September 2024
Mo Tu We Th Fr Sa Su
   1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30
October 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
November 2024
Mo Tu We Th Fr Sa Su
      1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
class animal:
    species=None
    weight=None
    age=None
    def __init__(self,species,weight,age):
        self.species=species
        self.weight=weight
        self.age=age
class mamal(animal):
    food=None
    def __init__(self,species,weight,age,food):
        super(mamal,self).__init__(species,weight,age)
        self.food=food
    def display(self):
        print(self.species)
        print(self.weight)
        print(self.age)
        print(self.food)
class bird(animal):
    color=None
    def __init__(self,species,weight,age,color):
        super(bird,self).__init__(species,weight,age)
        self.color=color
    def display(self):
        print(self.species)
        print(self.weight)
        print(self.age)
        print(self.color)

In [7]:
class employee:
    name=None
    e_id=None
    e_salary=None
    def __init__(self,name,e_id,e_salary):
        self.name=name
        self.e_id=e_id
        self.e_salary=e_salary
class manager(employee):
    m_dept=None
    def __init__(self,name,e_id,e_salary,m_dept):
        super(manager,self).__init__(name,e_id,e_salary)
        self.m_dept=m_dept
    def display(self):
        print("--------MANAGER---------")
        print("NAME-->",self.name)
        print("ID-->",self.e_id)
        print("SALARY-->",self.e_salary)
        print("DEPT-->",self.m_dept)
class developer(employee):
    role=None
    def __init__(self,name,e_id,e_salary,role):
        super(developer,self).__init__(name,e_id,e_salary)
        self.role=role
    def display1(self):
        print("---------DEVELOPER--------")
        print("NAME-->",self.name)
        print("ID-->",self.e_id)
        print("SALARY-->",self.e_salary)
        print("ROLE-->",self.role)

e1=manager("rakesh",101,50000,"manager")
e2=developer("vaishnav",102,100000,"full stack developer")
e1.display()
e2.display1()

--------MANAGER---------
NAME--> rakesh
ID--> 101
SALARY--> 50000
DEPT--> manager
---------DEVELOPER--------
NAME--> vaishnav
ID--> 102
SALARY--> 100000
ROLE--> full stack developer

In [22]:
class a:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print("this is ",self.name,"and my age is",self.age)
class b:
    def __init__(self,salary):
        self.salary=salary
class c(a,b):
    def __init__(self,name,age,salary):
        a.__init__(self,name,age)
        b.__init__(self,salary)
    def display(self):
        print("this is ",self.name,"and my age is",self.age,"my salary",self.salary)
c1=c("rakesh",20,10000)
c1.display()

this is  rakesh and my age is 20 my salary 10000

In [6]:
hi='''hell
o world'''
print(hi)
print(type(hi))

hell
o world
<class 'str'>

In [27]:
a="vinodh"
b=20

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1509820307.py, line 3)

In [5]:
#abstraction
from abc import ABC,abstractmethod
class a(ABC):
    @abstractmethod
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print("this is ",self.name,"and my age is",self.age)
class b:
    def __init__(self,salary):
        self.salary=salary
    def display(self):
        print("this is my salary",self.salary)
class c(a,b):
    def __init__(self,name,age,salary):
        a.__init__(self,name,age)
        b.__init__(self,salary)
    #def display(self):
        #print("this is ",self.name,"and my age is",self.age,"my salary",self.salary)
c1=c("rakesh",20,10000)
c1.display()

this is my salary 10000

In [6]:
#HAS-A relation
class company:
    def __init__(self,name,startdate):
        self.__cname=name
        self.__cstartdate=startdate
    def setcname(self,newname):
        self.__cname=newname 
    def getcname(self):
        return self.__cname
    def getcstartdate(self):
        return self.__cstartdate

    def setcstartdate(self,startdate):
        self.__cstartdate=startdate
       
class car:
    def __init__(self,name,price,company):
        self.__name=name
        self.__price=price
        self.__company=company
    def getname(self):
        return self.__name
    def getprice(self):
        return self.__price
    def getcompany(self):
        return self.__company
    def setname(self,newname):
        self.__name=newname

    def setprice(self,newprice):
        self.__price=newprice
    def setcompany(self,company):
        self.__company=company
c1=company("honda",1995)
c2=car("fortuner",3500000,c1)
c2.getcompany().getcname()
c2.getcompany().setcname("toyota")
print(c2.getcompany().getcname())
print(c2.getname())
c2.getcompany().setcstartdate(2000)
print(c2.getcompany().getcstartdate())

toyota
fortuner
2000

In [7]:
class father:
    def __init__(self,fname,fage):
        self.__fname=fname
        self.__fage=fage
    def getfname(self):
        return self.__fname
    def setfname(self,name):
        self.__fname=name
    def getfage(self):
        return self.__fage
    def setfage(self,age):
        self.__fage=age
class mother:
    def __init__(self,mname,mage):
        self.__mname=mname
        self.__mage=mage
    def getmname(self):
        return self.__mname
    def setmname(self,name):
        self.__mname=name
    def getmage(self):
        return self.__mage
    def setmage(self,age):
        self.__mage=age
class student:
    def __init__(self,name,section,father,mother):
        self.__name=name
        self.__section=section
        self.__father=father
        self.__mother=mother
    def getsname(self):
        return self.__name
    def setsname(self,name):
        self.__name=name
    def getsection(self):
        return self.__section
    def setsection(self,section):
        self.__section=section
    def getfather(self):
        return self.__father
    def setfather(self,father):
        self.__father=father
    def getmother(self):
        return self.__mother
    def setmother(self,mother):
        self.__mother=mother
f1=father("raju",45)
m1=mother("rani",39)
s1=student("ramesh","5th class",f1,m1)
print(s1.getfather().getfname())

raju